
@{
    ViewBag.Title = "Coupon Mgmt";
}

<div id="Details"></div>
<div id="AddOrEditCoupon"></div>

@section Scripts{
    @*<script type="text/javascript">
            $(function () {
                $("#example2").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });
            });
        </script>*@
    <script type="text/babel" src="@Url.Content("~/Scripts/Home/Coupon.jsx")" asp-append-version="true"></script>
}