
@{
    ViewBag.Title = "Home";
}
<style type="text/css">
    #Homes span {
        display: none;
    }
</style>
<div id="Homes">asdasdasdas</div>

@section Scripts{
    <script type="text/babel" src="@Url.Content("~/Scripts/Home/Homes.jsx")" asp-append-version="true"></script>
}